* {
    margin: 0;
    font-family: 'Roboto Serif', serif;
}

/* style for header */
.banner {
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 900px;
    color: #ffffff;
    text-align: right;
    padding: 200px 150px 300px 845px;
}

.banner-title {
    font-weight: 800;
    font-size: 65px;
    padding-bottom: 10px;
}

.banner-description {
    font-size: 20px;
    padding: 0 0px 30px 0px;
}

.btn-primary {
    color: #005FAC;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background-color: #ff0202;
    color: #ffffff;
}

/* style for experiences */
.experience-container {
    display: flex;
    margin: 0px 400px 25px;
    width: 1072px;
    height: 300px;
}

.experience-title {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 15px;
}

.experience-description,
pre {
    color: rgba(75, 74, 74, 0.692);
    padding: 20px;
}
/* my plans */
.my-plan-title {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin: 5%;
}

.plan-container {
    display: flex;
    gap: 80px;
    margin-top: 3%;
    margin-left: 30%;
}

.plan-title {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
/* povitive mindset */
.positive-mindset {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    margin-left: 22%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 1140px;
    height: 300px;
}
.mindset{
    font-size: 35px;
    padding-left: 100px;
    padding-top: 140px;
    color: #ffffff;
}
.positive-mindset .btn-primary{
    margin-left: 150px;
    margin-top: 40px;
}
/* style for footer */
.footer{
    display: flex;
    gap: 100px;
    background-color: black;
    color: #ffffff;
}
.footer-one{
    margin-top: 50px;
    margin-right: 400px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.footer-title{
    font-size: 35px;
    padding-bottom: 20px;
}

.footer-one pre{
    color: #ffffff80;
}
.footer-one .twitter{
    padding: 0 50px 0;
}
.footer-two{
    margin-top: 90px;
    margin-right: 50px;
    margin-bottom: 100px;
}
#email{
    background-color: black;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    font-weight: bold;
    text-align: center;
}